<!DOCTYPE html>
<html lang="en">
<head>
<title>Recapify</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="#About" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
    <a href="#Applications" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Applications</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Summarize</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 4</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">About</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Applications</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Summarize</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">RECAPIFY</h1>
  <p class="w3-xlarge">By Rachel Appenzeller, Marina Braga and Alexandra Klimko</p>
  <a href="record-button"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Start Recapify</button></a>
</header>

<!-- First Grid -->
<div id="About" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>About the program</h1>
      <h5 class="w3-padding-32">Recapify is a program that records a lecture and returns a summary of what was said.</h5>

      <p class="w3-text-grey">
        We had this idea, because one of the members of the group is an international student at the University 
        of Southern California and when she was a freshman she had difficulty understanding the fast passed 
        classes in English as English is not her first language. She saw that if Recapify existed back then she would
        have adapted way easier
      </p>
    </div>

    <div class="w3-third w3-right">
      <img src="{{ url_for('static', filename='Board.png') }}" alt="Black board" style="width:400px;height:200px;">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div id="Applications" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src="{{ url_for('static', filename='Scroll.png') }}" alt="Scroll" style="width:300px;height:300px;">
    </div>

    <div class="w3-twothird">
      <h1>Applications</h1>
      <h5 class="w3-padding-32">This application can be used by any student, but it also can be so much more, 
        for example it can help several people that are affected by a disability to succeed in class</h5>

      <p class="w3-text-grey">If someone is hard of hearing they can have access to a written summ up of what 
        was talked about in class. Another example is people that have Attention Deficit Hyperactivity Disorder 
        (ADHD). Those people have difficulty regulating their attention span, so instead of forcing themselves 
        to concentrate for a long period of time in class, they can just read a summed up version</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <a href="https://www.instagram.com/athena_hacks?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/company/athenahacks/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
